* {
  Margin:0;
  Padding:0;
  cursor : url('assets/game.png'), auto;
}

/************************************************************* Header */

header {
  background-image: url("../img/starry.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

#homeBtn {
  text-decoration: none;
  animation: all ease 0.3s;
}

.generator
{
  display: flex;
  flex-direction: row;
}

#websiteTitle {
  font-family: "Star Jedi", sans-serif;
  Text-align:center;
  text-decoration: none;
  color: rgb(255, 245, 103);
  height: 100px;
  line-height: 150px;
  font-size: 28px;
  animation-name: titleOut;
  animation-duration: 0.5s;
}

header > h2 {
  font-family: "Star Jedi", sans-serif;
  text-align: center;
  color: rgb(255, 245, 103);
  padding-bottom: 10px; 
  letter-spacing: 3px;
  font-size: 20px;
  margin-bottom: 0px; 
}


/************************************************************* Body & main content */

body{
  font-family: 'Quicksand', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; 
  padding: 50px;
  margin-top: -10px; 
}

.wrapper
{
  min-height : 50vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-right: solid black 2px;
  border-left: solid black 2px;
  padding-left: 50px;
  padding-right: 50px; 
  width: 90vw;
}




/************************************************************* Style des menus */

nav {
  width: auto;
  background-color: black;
}

#ico{
  position: absolute;
}

nav > ul {
  display: flex;
  justify-content:center;
  align-items:center;
} 

nav > ul > a > li {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100px;
  height: 60px;
  margin-right: 3px;
  margin-left: 3px;
  background-color:black;
  color:white;
  border: none;
} 

nav > ul > a {
  text-decoration:none;
  text-align:center;
} 




/************************************************************* Static Contents */

#home_content
{
  width: auto;
}

#home_content > *
{
  margin : 15px 0px 15px 0px;
}

#home_content > p
{
  text-align : justify;
}

#about_content
{
  width : auto;
}

#about_content > p
{
  margin : 15px 0px 15px 0px;
}

.GIF_tuto
{
  text-align: center;
}

.liTuto
{
  margin-left : 20px;
  margin-bottom: 20px;
}

h2{
  margin: 20px;
  color: grey;
}
h3{
  margin:20px;
  color: black;
}


/************************************************************* Formulaires / Generateurs */

.option
{
  border: solid 1px black;
  border-radius: 1%;
  width: auto;
  margin: 10px;
  padding: 10px;
  min-width: 400px;
  background-color: #E1E1E1;
}

textarea {
  background-color: rgb(240,240,240);
  border-radius: 5px;
  color: grey;
}

.rendu
{
  border: solid 1px black;
  border-radius: 1%;
  width: auto;
  margin: 10px;  
  padding: 10px;
  background-color: #E1E1E1;
}

#titleGenerator {
  text-align: center;
  padding-top: -20px; 
}

fieldset {
  padding: 10px;
  margin : 8px 0px 8px 0px;
  width: 400px;
  border: none;
}

#checkboxWrap {
  display: flex;
}

input {
  color: grey;
  border: none;
  border-bottom: solid 1px black;
  padding: 2px;
  background-color: rgb(240,240,240);
  border-radius: 3px;
}

input[type=text]::placeholder {
  color: grey;
  opacity: 50%;
}

input[type=checkbox] {
  margin: 5px;
}

input[type=number] {
  width: 50px;
}

legend{
  font-weight: bold;
  color: grey; 
}

@media only screen and (max-width:740px){
  .option{
    width: 80%;
    font-size: 12px;
  }
} 

fieldset > *
{
  margin : 8px 0px 8px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

.validation{
	font-family: Arial ;
	font-size:20px;
	color:black;
	background-color:grey;
	border-radius:13px;
	text-decoration:none;
	font-weight: bold;
	padding:8px;
}
  
.erreur{
  color: red;
  font-weight: bold;
}

h5{
  font-weight: bold;
  font-size: 20px;
}

textarea{
  margin-top: 50px;
}

@media only screen and (max-width:740px){
  textarea{
    width: 25em;
  }
}

@media only screen and (max-width:740px){
  iframe{
    width: 80%;
    height: 20%;
  }
}

footer{
  text-align: center;
  color: rgb(255, 245, 103);
  padding: 1rem;
  text-align: center;
  border-top : solid black 2px;
  background-image: url("../img/starry.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}




/************************************************************* FIX */

.menuRendu {
  margin-left: 20px;
}




/************************************************************* Assets */

@font-face
{
  font-family : "Star Jedi";
  src: url("assets/Starjedi.ttf") format("truetype");
}




/************************************************************* Responsive */

@media only screen and (max-width: 1030px)
{
  .generator {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width:740px){

  /**************************************** Titre Responsive */

  header {
    border-bottom: solid black 2px;
  }

  #websiteTitle {
    font-size: 25px;
  }
  

  /**************************************** Menu Responsive */

  nav {
    width: 100px;
    position: absolute;
    z-index: 1000;
    position: fixed;
  }

  nav > ul {
    flex-direction: column;
    justify-content: left;
  }

  #ico{
    display: none;
  }

  nav > ul > a:first-child > li {

  }

  nav > ul > a:last-child > li {
  }

  /**************************************** Responsive Content */

  .wrapper
  {
    margin-left: 90px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    flex-direction: column;
  }

  .generator {
    display: flex;
    flex-direction: column;
  }

  fieldset {
    flex-direction: column;
  }

  /**************************************** Animations responsives */

  @keyframes titleIn {
    0%   {letter-spacing: normal;}
    100% {letter-spacing: 5px;}
  }

  @keyframes titleOut {
    0% {letter-spacing: 5px;}
    100% {letter-spacing: normal;}
  } 
}




/************************************************************* Animations */

/****************************************** Boutons */

/* Hovers */

Nav > ul > a:hover > li {
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: grey;
}

#websiteTitle:hover{
  animation-name: titleIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}

/* Active */

Nav > ul > a:active > li {
  background-color: white;
}

.btnMenuActive {
  background-color: grey;
}

/* Animations boutons */ 

@keyframes titleIn {
  0%   {letter-spacing: normal;}
  100% {letter-spacing: 10px;}
}

@keyframes titleOut {
  0% {letter-spacing: 10px;}
  100% {letter-spacing: normal;}
}

/****************************************** SmoothState */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes moveInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveOutToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes moveOutToLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@-webkit-keyframes moveInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes moveOutToRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@keyframes moveOutToRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.sceneElement {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.is-exiting .sceneElement {
    transition-timing-function: ease-out;
}

#main[data-transition=fade] .sceneElement {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#main[data-transition=fade].is-exiting .sceneElement {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#main[data-transition=moveleft] .sceneElement {
    -webkit-animation-name: moveInFromLeft;
    animation-name: moveInFromLeft;
}

#main[data-transition=moveleft].is-exiting .sceneElement {
    -webkit-animation-name: moveOutToRight;
    animation-name: moveOutToRight;
}

#main[data-transition=moveright] .sceneElement {
    -webkit-animation-name: moveInFromRight;
    animation-name: moveInFromRight;
}

#main[data-transition=moveright].is-exiting .sceneElement {
    -webkit-animation-name: moveOutToLeft;
    animation-name: moveOutToLeft;
}
