<content id="home_content" data-viewport="0">
  <h2>
    Bienvenue sur l'interface Web du générateur Hyperdrive T-14 !
  </h2>
  <h3>
    Quelle est l'utilité de ce site ?
  </h3>
  <p>
    Ce site relie le générateur T14 Hyperdrive de notre vaisseau à une interface Web. Cela permet d'utiliser les surplus de ses microprocesseurs afin de faire autre chose : <b>générer des éléments HTML/CSS !</b>
  </p>
  <h3>
    Pourquoi si peu ?
  </h3>
  <p>
    <i>"C'est vrai ça ! C'est pas beaucoup pour un générateur qui permet de se déplacer de systèmes en systèmes en quelques minutes !"</i>. Et vous avez raison. Mais nous sommes des simples techniciens sur le vaisseau, pas des futurs ingénieurs informatiques !
  </p>
  <h3>
    Comment existons-nous ?
  </h3>
  <p>
    C'était il y a bien longtemps, dans une galaxie lointaine très lointaine, lorsqu'un Jedi et son padawan se sont retrouvés coincés sur Tatooine.
    Leur vaisseau ayant eu un problème de générateur Hyperdrive, ils fîrent un pari de PodRacer pour en récupérer un. <br />
    Après une course des plus palpitantes, ils gagnèrent le fameux générateur Hyperdrive T-14 et ont pu repartir en direction de Coruscant, mais cette fois-ci accompagné d'un jeune garçon qui changera le destin de la galaxie à tout jamais.
  </p>
    <h3>
    Mais comment utilise-t-on cette interface alors ?
  </h3>
  <p>
    C'est très simple, il vous suffit de vous rendre dans la section <i>"Tutoriel"</i> et de le suivre ! Qu'attendez-vous ? <br /> <br />
    <i>(Petite astuce : si vous voulez revenir sur cette écran d'acceuil, vous pouvez cliquer sur le nom du site ! Qu'est-ce que c'est beau la technologie !)</i>
  </p>
</content>