<section>
  <h2>Tutoriel d'utilisation</h2>

  <h3> Episode 0 : Introduction</h3>

  <p>
    Bienvenue sur le tutoriel d'utilisation de l'interface web T-14 Hyperdrive Generator. <br>
    Cette application vous permettra de créer de manière simple et efficace des parties de votre site internet, tel que des liens ou des boutons.<br>
    Après avoir suivi ce tutoriel vous saurez travailler de manière efficace avec cette interface.
  </p>

  <h3>Episode 1 : Les options</h3>
  <p>
    Dès que vous saurez quel élément vous voulez dans votre site, vous pourrez cliquer sur ce que vous souhaitez dans la barre de navigation.<br><br>
    <img src="multimedia/Gif selection élément.gif" alt="GIF Selections Elements à générer" height="250" width="450" class="GIF_tuto"><br><br>


    Afin de vous donner le plein pouvoir sur les élements, tel Palpatine qui maitrise les éclairs, vous avez accès à un panel d'option de personnalisation.<br><br>

    Le panneau "option" vous permet de changer le style des éléments de nombreuses manière :
    <br><br>
    <ul>
      <li class="liTuto">
        Changement du style du texte :
        <ul>
          <li class="liTuto">
            Police;
          </li>
          <li class="liTuto">
            Taille;
          </li>
          <li class="liTuto">
            Couleur;
          </li>
          <li class="liTuto">
            Couleur du sulignage;
          </li>
          <li class="liTuto">
            Douceur du surignage;
          </li>
          <li class="liTuto">
            Formatage du texte : gras, sous-ligne, italique;
          </li>
          <li class="liTuto">
            Les marges internes de l'élément, c'est à dire l'espace entre bord de l'élément et le texte;
          </li>
          <li class="liTuto">
            Les marges externes de l'élément, c'est à dire l'espace entre bord de l'élément et la marge la plus proche;
          </li>

        </ul>
      </li>
      <li class="liTuto">
        Changement du comportement de l'élément au survol :
        <ul>
          <li class="liTuto">
            Temps de transition;
          </li>
          <li class="liTuto">
            Element de style propre au texte;
          </li>
        </ul>

      </li>

    </ul>
    <img src="multimedia/GIF choix options.gif" alt="GIF options" height="400" width="250" class="GIF_tuto"><br><br>
    
    
  </p>

  <h3>Episode 2 : Le rendu et le code </h3>

  <p>
    Cette partie est assez courte :<br><br>
    Vous avez le rendu de votre demande à droite du tableau de commande (si vous êtes sur PC) ou en-dessous (si vous êtes sur téléphone).<br><br>
    Dans un second temps, le code vous sera donné et vous pourrez le récupérer afin d'enrichir votre site web.<br><br>
    Vous aurez en premier la balise HTML et ensuite le code CSS dans une balise style.<br><br>
    <img src="multimedia/GIF Rendu.gif" alt="GIF Rendu" height="400" width="300" class="GIF_tuto">
    
  </p>


  <P>
    Vous savez désormais tout ce qu'il y a à savoir pour utiliser notre générateur à pleine puissance !! <br>

    Enjoy

  </P>
  

</section>
