<section>
  <h2>Tutoriel d'utilisation</h2>

  <h3> Episode 0 : Introduction</h3>

  <p>
    Bienvenue sur le tutoriel d'utilisation de l'interface web T-14 Hyperdrive Generator. <br>
    Cette application vous permettra de créer de manière simple et efficace des parties de votre site internet, tel que des liens ou des boutons.<br>
    Après avoir suivi ce tutoriel vous saurez travaillez de manière efficace avec cette interface.
  </p>

  <h3>Episode 1 : Les options</h3>
  <p>
    Dès que vous saurez quel élément vous voulez dans votre site, vous pourrez cliquer sur ce que vous souhaitez dans la barre de navigation.<br><br>


    Afin de vous donner le plein pouvoir sur les élements, tel Palpatine qui maitrise les éclairs, vous avez accès à un panel d'option de personnalisation.<br><br>

    Selon l'élément que vous avez choisis, les options seront différentes. <br> 
  </p>

  <h3>Episode 2 : Le rendu et le code </h3>

  <p>
    
  </p>

</section>